body{background-color:blanchedalmond;}

#p1{
  margin: auto;
  width: 60%;
  margin-right: 20px;
color: brown;
  padding: 10px;
font-size: 150px;

}
.text{
     margin: auto;
  width: 60%;
color: brown;
  padding: 10px;
font-size: 150px;
}
iframe{margin-left: 30%;
margin-top: 10%;}